apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # You must build this image: docker build -t hospital-backend ./backend
        image: hospital-backend:latest 
        imagePullPolicy: IfNotPresent # Important for local k8s clusters like Minikube/Docker Desktop
        ports:
        - containerPort: 8080
        env:
        - name: DB_URL
          value: jdbc:mysql://mysql:3306/hospital_db?allowPublicKeyRetrieval=true&useSSL=false
        - name: DB_USERNAME
          value: root
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        - name: JWT_SECRET
          value: '3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b' # Generated random secret
        - name: JWT_EXPIRATION
          value: '86400000' # 24 hours in milliseconds
        - name: ADMIN_EMAIL
          value: 'admin@hospital.com'
        - name: ADMIN_PASSWORD
          value: 'admin123'

---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
