apiVersion: v1
kind: ConfigMap
metadata:
  name: k6-script
data:
  test.js: |
    import http from 'k6/http';
    import { check, sleep } from 'k6';

    export const options = {
      vus: 10,
      duration: '30s',
    };

    export default function () {
      const res = http.get('http://backend:8080/api/v1/doctor/getAllDoctors');
      check(res, {
        'status is 200 or 400 (Empty DB)': (r) => r.status === 200 || r.status === 400,
      });
      sleep(1);
    }

---
apiVersion: batch/v1
kind: Job
metadata:
  name: load-test-job
spec:
  template:
    spec:
      containers:
      - name: k6
        image: grafana/k6:latest
        command: ['k6', 'run', '/scripts/test.js']
        volumeMounts:
        - name: script-volume
          mountPath: /scripts
      restartPolicy: Never
      volumes:
      - name: script-volume
        configMap:
          name: k6-script
  backoffLimit: 1
